include includes/header.pug

h1#styleTitle.title.is-1.block.has-text-centered My Dashboard
br
.container(style="width:90%;margin-top:20px;")
    .columns.column-gap
        .column.is-one-quarter
            aside.menu
                .level
                    .level-left
                        p.menu-label.level-item Collections
                hr
                //-.modal#collectionModal
                    .modal-background
                    .modal-content
                        h3 Create a New Collection
                        form
                            .field
                                .control
                                    label.label(for="addCollectionName") Collection Name
                                    input.input(type="text" name="addCollectionName" placeholder="")
                            .field
                                .control
                                    button.button.is-black(type="submit" id="addCollectionBtn") Submit
                    button.modal-close.is-large(aria-label="close" id="closeBox")

                ul.menu-list#allCollections
                    //-li
                        a.collectionTitle Example Collection

                        ul.menu-list.collectionSubtitle
                            li
                                a(href="#") Documentation
                            li
                                a(href="#") Tutorials
                            li
                                a(href="#") Other
                    each value, index in collections
                        li
                            p.collectionTitle= index
                            ul.menu-list.collectionSubtitle
                                a(href= `/bookmarks/${user}/${index}/Documentation`) Documentation
                                a(href= `/bookmarks/${user}/${index}/Tutorials`) Tutorials
                                a(href= `/bookmarks/${user}/${index}/Other`) Other


        .column.is-three-quarters
            #bookmarkDisplay
                .level
                    .level-left
                        h1.level-item#updatedCollectionTitle Bookmarks
                    .level-right
                        button.button.is-block.is-primary.level-item#addBookmarkBtn +

                .modal#bookmarkModal
                    .modal-background
                    .modal-content
                        .box
                            h3 Create a New Bookmark
                            hr
                            form#addBookmarkForm
                                .field
                                    .control
                                        label.label(for="addBookmarkName") Bookmark Name
                                        input.input(type="text" name="addBookmarkName" id="addBookmarkName" placeholder="")
                                .field
                                    .control
                                        label.label(for="addBookmarkLink") Link
                                        input.input(type="text" name="addBookmarkLink" id="addBookmarkLink" placeholder="")
                                .columns
                                    .column.is-two-thirds
                                        .field
                                            .control
                                                label.label(for="addBookmarkCollection") Collection Name
                                                input.input(type="text" name="addBookmarkCollection" id="addBookmarkCollection" placeholder="")
                                    .column.is-one-third
                                        .field
                                            .control
                                                lable.label(for="categoryDrop") Category
                                                .select
                                                    select(name="categoryDrop" id="addBookmarkCategory")
                                                        option(value="Documentation") Documentation
                                                        option(value="Tutorials") Tutorials
                                                        option(value="Other") Other
                                .field
                                    .control
                                        label.label(for="addNotes") Notes
                                        textarea.textarea(type="textarea" name="addNotes" id="addBookmarkNotes" placeholder="")
                                .field
                                    .control
                                        button.button.is-primary(type="submit" id="submitBookmarkBtn") Submit
                        button.modal-close.is-large#bookmarkClose(aria-label="close")

                h3.collectionSubtitle Documentation
                hr
                .columns.is-multiline.is-mobile
                    for bookmark in bookmarks
                        include includes/bookmark.pug
